# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
venv/
ENV/
.venv
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local data
data/
mongo-data/

# Logs
logs/
*.log 